.cardContainer {
    width: 100%;
    display: flex;
    position: relative;
}
.cardSlide {
    height: 90vh;
    border-radius: 24px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
    display: flex;
    align-items: end;
    h3 {
        margin-top: 0 auto;
        opacity: 0;
        padding-left: 15px;
        padding-bottom: 15px;
        font-weight: 600;
        font-size: 25px;
    }
}
.cardSlide.cardActive {
    flex: 10;
    h3 {
        opacity: 1;
        transition: opacity 0.15s ease-in 0.2s;
    }
}
.cardSlide:hover {
    transform: scale(110%);
}
.cardSlide.active:hover {
    transform: scale(100%);
}

.cardArrows {
    position: absolute;
    cursor: pointer;
    z-index: 100;
    padding: 20px;
    margin: 20px;
    top: 40%;
    background: rgba(209, 231, 255, 0.1);
    min-height: 70px;
    opacity: 1;
}

@media (max-width: 992px) {

    .cardContainer {
        width: auto;
        height: 100%;
        flex-direction: column;
        max-width: 90vw;
    }
    .cardSlide {
        height: auto;
        width: 80vw;
        flex: 1;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 500ms ease-in-out;
        display: flex;
        align-items: end;
    }
}
