:root {

    /* Background colors */
    --page404-bg-color: hsl(192, 100%, 97%);

    /*Fonts and typography start*/
    --body-font: 'Inter', -apple-system, system-ui, sans-serif;

    --big-font-size: 2.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    @media screen and (min-width: 968px) {
        --big-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }

    --font-medium: 500;
    --font-semi-bold: 600;
    /*Fonts and typography end*/

    /* Margenes */
    --mb-0-2: 0.2rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
}
